/bin
/lib
/Users/isacaccount/Desktop/school_projects/spec_lab/lib/python3.12/site-packages
/Users/isacaccount/Desktop/school_projects/spec_lab/include/python3.12
/Users/isacaccount/Desktop/school_projects/spec_lab/share/
/Users/isacaccount/Desktop/school_projects/spec_lab/smoothed_gotham.txt

share/man/man1/ttx.1
pyvenv.cfg
